<% if @hotel.errors.any? %>
  <% @hotel.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>
<div class='hotel-new-form'>
  <h3>ホテル情報登録</h3>

  <%= form_with model: @hotel do |f| %>
    
    <div>
      <%= f.hidden_field :owner_id, value: current_user.id %>
    </div>

    <table>
      <tr>
        <th>
          <%= f.label :name ,"ホテル名" %>
          <small>必須</small>
        </th>
        <td>
          <%= f.text_field :name, required: true, class: 'input-area' %>
        </td>
      </tr>
      <tr>
        <th class="hotel-new-th">
          <%= f.label :comment ,"ホテル紹介" %>
          <small>必須</small>
        </th>
        <td>
          <%= f.text_area :comment, required: true, class: 'input-area' %>
        </td>
      </tr>
      <tr>
        <th class="hotel-new-th">
          <%= f.label :price ,"料金" %>
          <small>必須</small>
        </th>
        <td>
          <%= f.number_field :price, required: true, in: 1..1000000, class: 'input-area' %>
        </td>
      </tr>
      <tr>
        <th class="hotel-new-th">
          <%= f.label :address ,"住所" %>
          <small>必須</small>
        </th>
        <td>
          <%= f.text_field :address, class: 'input-area' %>
        </td>
      </tr>
      <tr>
        <th class="hotel-new-th">
          <%= f.label :image ,"ルーム画像" %>
          <small>必須</small>
        </th>
        <td>
          <%= f.file_field :image, class: 'input-area' %>
        </td>
      </tr>
    </table>
    <div>
      <%= f.submit "登録", class: 'register-button' %>
    </div>

  <% end %>
</div>
